<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Login | cms</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="/css/uikit/uikit.min.css" />

    <!-- UIkit JS -->
    <script defer="defer" src="/js/uikit/uikit.min.js"></script>
    <script defer="defer" src="/js/uikit/uikit-icons.min.js"></script>

    <!--custom css-->
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

</head>

<body>
    <div class="background"></div>

    <div class="uk-container login">

        <h1>Login</h1>

        <form class="uk-clearfix" name="login" th:action="@{/login}" method="post">

            <div th:if="${param.error}" class="uk-alert-danger" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Wrong username and password</p>
            </div>

            <div th:if="${param.logout}" class="uk-alert-success" uk-alert>
                <a class="uk-alert-close" uk-close></a>
                <p>Successfully logged out</p>
            </div>

            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: user"></span>
                    <input class="uk-input" type="text" id="username" name="username" placeholder="Username" />
                </div>
            </div>

            <div class="uk-margin">
                <div class="uk-inline uk-width-1-1">
                    <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
                    <input class="uk-input" type="password" id="password" name="password" placeholder="Password" />
                </div>
            </div>

            <button class="uk-button uk-button-primary uk-align-left uk-margin-remove" type="submit">Login</button>
            <a class="uk-link-text uk-align-right uk-margin-small-top uk-margin-remove-bottom" href="/registration">Registration</a>
        </form>

    </div>

</body>
</html>