<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Admin | cms</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

</head>

<body>
    <h1>Admin homepage</h1>
    <ul>
        <li><a href="/">Website</a></li>
        <li><a href="/admin/posts">Posts</a></li>
    </ul>

    <ul>
        <li>
            <form th:action="@{'/logout'}" method="post">
                <input class="btn btn-primary" type="submit" value="logout"/>
            </form>
        </li>
    </ul>
</body>
</html>