<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout/main-admin">
<head>
    <title>Home | Admin</title>

</head>

<body>

    <div layout:fragment="content">

        <div class="uk-child-width-1-2@s uk-grid-collapse uk-text-center" uk-grid>
            <a href="/admin/posts">
                <div class="uk-tile uk-tile-muted">
                    <p class="uk-h4">Post</p>
                </div>
            </a>
            <a href="/admin/pages">
                <div class="uk-tile uk-tile-primary">
                    <p class="uk-h4">Page</p>
                </div>
            </a>
            <a href="/admin/categories">
                <div class="uk-tile uk-tile-secondary">
                    <p class="uk-h4">Category</p>
                </div>
            </a>
        </div>

    </div>
</body>
</html>