<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout/main-admin">
<head>
    <title>Create Category | Admin</title>

</head>

<body>

<div layout:fragment="content">

    <h1 class="uk-align-left uk-margin-remove-bottom">Create category</h1>

    <a href="/admin/categories" class="uk-button uk-button-primary uk-align-right uk-margin-remove-bottom uk-margin-small-top">Back</a>

    <div class="uk-clearfix"></div>

    <form th:action="@{/admin/categories/create-category}" th:object="${category}" method="post" class="uk-form-stacked uk-margin-top">

        <div class="uk-margin">
            <label class="uk-form-label" for="name">Name</label>
            <input type="text" class="uk-input" id="name" th:field="*{name}" required="true" />
        </div>

        <input class="uk-button uk-button-primary" type="submit" value="Create category"/>

    </form>

</div>
</body>
</html>