<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout/main-admin">
<head>
    <title>Create page | Admin</title>

</head>

<body>

<div layout:fragment="content">

    <h1 class="uk-align-left uk-margin-remove-bottom">Create page</h1>

    <a href="/admin/pages/" class="uk-button uk-button-primary uk-align-right uk-margin-remove-bottom uk-margin-small-top">Back</a>

    <div class="uk-clearfix"></div>

    <form th:action="@{/admin/pages/create-page}" th:object="${page}" method="post" class="uk-form-stacked uk-margin-top">

        <div class="uk-margin">
            <label class="uk-form-label" for="title">Title</label>
            <input type="text" class="uk-input" id="title" th:field="*{title}" required="true" />
        </div>

        <div class="uk-margin">
            <label class="uk-form-label" for="content">Content</label>
            <textarea class="uk-textarea" id="content" rows="5" th:field="*{content}" required="true"></textarea>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">Category</label>
            <label th:each="category : ${allCategories}" class="uk-form-label">
                <input class="uk-checkbox" type="checkbox" th:value="${category.id}" th:field="*{categories}"/>
                <span th:text="${category.name}"></span>
            </label>
        </div>

        <div class="uk-margin">
            <label class="uk-form-label">Menu</label>
            <label class="uk-form-label">
                <input class="uk-checkbox" type="checkbox" th:field="*{menu}"/>
                <span>add to menu</span>
            </label>
        </div>

        <input class="uk-button uk-button-primary" type="submit" value="Create page"/>

    </form>

</div>
</body>
</html>