<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>page | Admin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

</head>

<body>

<h1>page page</h1>
<a href="/admin/">Back</a><br />
<a href="/admin/pages/create-page">Create page</a>

<h2>Page list</h2>
<div th:each="page : ${pages}">
    <h5>
        <span th:text="${page.title}"></span> |
        <span th:text="${#dates.format(page.posted, 'yyyy-MM-dd HH:mm')}"></span> |
        <span>
            <form th:action="@{'/admin/pages/' + ${page.id}+ '/delete'}" method="post">
                <input class="btn btn-primary" type="submit" value="Delete"/>
            </form>
        </span> |
        <a th:href="@{'/admin/pages/' + ${page.id}+ '/update'}">Update</a>
        <hr />
    </h5>
</div>
</body>
</html>