<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="admin/layout/main-admin">
<head>
    <title>Pages | Admin</title>

</head>

<body>

<div layout:fragment="content">

    <h1 class="uk-align-left uk-margin-remove-bottom">Pages</h1>

    <a href="/admin/pages/create-page" class="uk-button uk-button-primary uk-align-right uk-margin-remove-bottom uk-margin-small-top">Create page</a>

    <div class="uk-clearfix"></div>

    <div class="uk-overflow-auto">

    <table class="uk-table uk-table-middle uk-table-responsive uk-table-divider uk-table-small uk-margin-top">
        <tbody>
            <tr th:each="page : ${pages}">
                <td>
                    <span th:text="${page.title}"></span> <br />
                    <span th:text="${#dates.format(page.posted, 'yyyy-MM-dd HH:mm')}"></span>
                </td>
                <td>
                    <a class="uk-button uk-button-secondary" th:href="@{'/admin/pages/' + ${page.id}+ '/update'}">Update</a>
                </td>
                <td>
                    <button class="uk-button delete-box-trigger" type="button">Delete</button>
                    <div class="delete-box">
                        <span class="uk-clearfix">Are you sure?</span>
                        <form class="form-delete" th:action="@{'/admin/pages/' + ${page.id}+ '/delete'}" method="post">
                            <input class="uk-button uk-button-danger button-delete uk-button-small" type="submit" value="Yes"/>
                        </form>
                        <button class="uk-button button-no-delete uk-button-secondary uk-button-small">No</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    </div>

</div>

</body>
</html>