<!doctype html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/main">
<head>
    <title>Homepage | cms</title>

</head>

<body>

    <div layout:fragment="content">

        <article class="uk-article" th:each="post : ${posts}">
            <h2>
                <a th:href="@{'/post/' + ${post.id}}" th:text="${post.title}" class="uk-link-reset">Post title</a>
            </h2>
            <p class="uk-article-meta">Posted: <span th:text="${#dates.format(post.posted, 'yyyy-MM-dd HH:mm')}"></span></p>

            <th:block th:if="${#strings.length(post.content) ge 300}">
                <p th:text="${#strings.substring(post.content, 0, 300) + '...'}"></p>
                <div class="uk-grid-small uk-child-width-auto" >
                    <div>
                        <a th:href="@{'/post/' + ${post.id}}" class="uk-button uk-button-text" href="#">Read more</a>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${#strings.length(post.content) le 300}">
                <p th:text="${post.content}"></p>
            </th:block>
            <hr class="uk-divider-icon" />
        </article>


    </div>

</body>
</html>